.recipe-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  padding: 20px;
}

.recipe-card {
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: 400px;
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  background-color: #fff;
  transition: transform 0.3s;
}

.recipe-card:hover {
  transform: translateY(-5px);
}

.recipe-image {
  width: 50%;
  object-fit: contain;
  
}

.info-section {
  padding: 16px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-section h2 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #333;
}

.rating {
  font-weight: bold;
  color: #38c172;
  margin-bottom: 8px;
}

ul {
  padding-left: 20px;
  margin: 0;
}

.read-more-btn {
  align-self: flex-start;
  background-color: #38c172;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 12px;
}